chart-container {
  margin: 0px;
}

.timeSpanButtons {
  display: flex;
  justify-content: space-around;
}

.timeSpanButtons button {
  background-color: rgb(106, 112, 107);
  border-radius: 20px;
  width: 40px;
  height: 40px;
  border: none;
  color: #fff;
  font-size: 15px;
}

.timeSpanButtons button .active {
  border-color: rgb(106, 112, 107);
  background-color: #fff;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  border: none;
  color: rgb(106, 112, 107);
  font-size: 15px;
}
